@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Fjalla+One&family=Monomaniac+One&family=Roboto+Mono:wght@300&family=Sigmar&family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One', sans-serif;
}

button{
    font-size: 1.5rem;
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    margin-left: 10px;
    outline: 0;
    border: 0;
    
 
    
}
input{
    height: 5vh;
    width: 50%;
    margin-top: 15px;
 font-size: 22px;
 outline: 0;
 margin-left: 10px;
 text-align: center;
}
.middle{
    font-size: 1.5rem;
}
select{
    height: 5vh;
  margin-left: 10px;
    font-size: 22px;
    outline: 0;
    border: 0;
    text-align: center;
}
.card{
    margin-top: 40px;
    margin-left: 10px;
 
    
}
header{
    height: 60px;
    text-align: center;
  
    font-size: 42px;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px 0px black ;
}
.btn{
    margin-top: 22px;
}